// Color palette
$base: #4de7b4;
$accent: adjust-hue($base, 180deg);
$bg: #e5e5e5;
$font: #fff;

*, .container, button {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: $accent;
    color: $font;
    display: flex;
    justify-content: center;
    align-content: center;
}


.timer-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.timer-buttons {
    padding: 0 1rem;
    display: flex;
    line-height: 1.5rem;
    p {
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    .plusminus {
        color: $base;
        transition: all 0.8s ease;
    }
    .plusminus:hover {
        font-weight: bold;
        font-size: 2rem;
        cursor: pointer;
    }
}

#clock {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: $bg;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $accent;
    font-size: 2rem;
    transition: all 0.8s ease;
}

#clock:hover {
    background-color: $base;
    color: $font;
    font-size: 2.5rem;
    width: 275px;
    height: 275px;
    cursor: pointer;
}
